*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}
:root{
    background-color: #2a2a2a;
    --second-bg-color: #202020; 
    --text-color: #fff; 
    --second-color: #ccc;
    --main-color: #ff4d05;
    
}